.mainContainerFAQ {
    display: flex;
    margin: auto;
    padding-top: 1%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1%;
    gap: 10px;
}

.table1-layout {
    width: 70%;
}

.network-layout {
    width: 27%;
    margin: auto;
}

.network-headers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}