.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #004d40;
  background-color: white;
}

.checked {
  background-color: #004d40;
  justify-content: center;
  align-items: center;
}

.checkmark {
  font-size: 10px;
  color: white;
  text-align: center;
}

.label {
  font-size: 16px;
  margin-left: 10px;
  color: black!important;
}

.label:hover {
  color : #004d40;
}
